os_cache.json
sysshield_logs.json
sysshield_heartbeat.txt
__pycache__
sysshield_heartbeat.txt
sysshield_logs.json
sysshield.pid
sysshield.spec
client/node_modules
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
env/
dist/
build/
*.egg-info/
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/